body {
    text-align: center;
}

/* Score and Lives */

.stat-of-game {
	margin: 2rem auto 0 auto;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 25px;
    font-family: fantasy;
}